.post-body {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;

  h3 {
    // font-size: 18px;
  }

  // code {
  //   display: block;
  //   padding: 10px 14px;
  //   background: #f2f3f4;
  //   border-radius: 4px;
  // }
}

pre {
  padding: 10px;
  border-radius: 5px;
}