.container {  
  padding: 20px 20px 20px 420px;
}

.container-inner {
  max-width: 800px;
  margin: 0 auto;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  padding: 20px 40px;
  background-color: $primary-color;
  color: #fff;

  &-inner {
    position: relative;
    height: 100%;
  }

  header {
    padding-top: 50px;
    text-align: center;
  }
}

.footer {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;

  .icon-links {
    a {
      display: inline-block;
    }

    svg {
      height: 30px;
      width: auto;
    }
  }
}

.nav-list {
  display: flex;
  margin-bottom: 20px;

  li {
    flex: 1;
    flex-shrink: 1;
    text-align: center;
    list-style: none;

    a {
      display: inline-block;
      padding: 10px;
      font-size: 18px;
      border-bottom: 2px solid transparent;
      transition: border 0.8s;

      &:hover,
      &.active {
        border-color: $primary-color;
      }
    }
  }
}