---
---

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  font-size: 14px;
}

ul, li {
  list-style: none;
}

a {
  color: #333;
}

.container {
  display: flex;
  height: 100%;
}

.main {
  padding: 20px;
}

.sidebar {
  width: 400px;
  height: 100%;
  background-color: #e87a90;
}

.article-list {
  li {
    margin-bottom: 20px;
  }

  h3 {
    font-size: 18px;
  }
}